/*CSS Reset*/

* {
	margin: 0;	
	padding:0;
	box-sizing: border-box;
}

/*Google Font*/
Body {
	font-family: 'Open-Sans', sans-serif;
}

nav {
	padding: 0.8rem;
	/*	
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem
	*/

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin:05rem;
	display: inline;
}

/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right:10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: Bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left:10%;
	padding-right:10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#succeed-info h2 {
	margin-bottom:1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width:30%;
	margin-left:0.5rem;
	margin-right:0.5rem;
	text-align: justify;
}

#pre-footer {
	padding-left:2%;
	padding-right:10%;
	padding-top: 1rem;
	padding-bottom: .5rem;
	background-color: #011936;
	color: white;
}

#pre-footer h3 {
	margin-bottom:0.5rem;
	font-weight: bold;
}

#pre-footer p {
	margin-bottom: 0.5rem;
}

#pre-footer .pfcard {
	display: inline-block;
	vertical-align: top;
	min-height: 150px;
	width:22%;
	margin-left:0.5rem;
	margin-right:0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left:0.5rem;
	margin-right:0.5rem;
}
